@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.dark1{
    color: rgb(19, 19, 19);
}
.dark2{
    color: rgb(66, 66, 66);
}
.dark3{
    color: rgb(114, 114, 114);
}
.display-flex{
    display: flex;
}
.btn-primary{
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}
.section-description{
    font-weight: 400;
    font-size: 1rem;
    max-width: 540px;
    margin-bottom: 30px;
}

/* header styles */
header{
    max-width:1350px;
    margin: 0 auto;    
    background: rgba(255, 144, 14, 0.1);
}
/* nav styles */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title{
    font-weight: 700px;
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400px;
    margin-bottom: 32px;
}
.banner-img{
   width: 1022px;
   margin: 40px 145px;
}

/* Team and feature related style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 25px;
}
.our-features{
    margin-left: 75px;
    max-width: 530px;
}

#quick-list{
    font-size: 3rem;
    font-weight: 500;
    color: rgb(114, 114, 114);
}
.features{
    color: rgb(255, 144, 14);
}
/* facts related styles starts */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.fact-card{
    text-align: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact-icon{
    margin-top: 40px;
}


/* responsive media query */
@media screen and (max-width:576px) {
    .nav-bar ,
     .nav-links,
     .teams
    {
        flex-direction: column;
    }
    .nav-item{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .banner-img{
        width: 100%;
        margin: 0;  
        margin-top: 20px;
    }
    .team-img-container{
        grid-template-columns: repeat(1 ,1fr);
    }
    .our-features{margin-left: 20px;}
}
/* Medium device  */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-img{
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 30px auto;
        text-align: center;
    }
}

