@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.dark1 {
    color: rgb(19, 19, 19);
}

.dark2 {
    color: rgb(66, 66, 66);
}

.dark3 {
    color: rgb(114, 114, 114);
}

.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.section-description {
    font-weight: 400;
    font-size: 1rem;
    max-width: 540px;
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

/* header styles */
header {
    max-width: 1350px;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.1);
}

/* nav styles */
.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700px;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

/* banner related styles */
.banner-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-weight: 700px;
    font-size: 4rem;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400px;
    margin-bottom: 32px;
}

.banner-img {
    width: 1022px;
    margin: 40px 145px;
}

/* Team and feature related style */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.our-features {
    margin-left: 75px;
    max-width: 530px;
}

#quick-list {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.features {
    color: rgb(255, 144, 14);
}

/* features will enjoy styles */
#features-section-title {
    margin-top: 10px;
    margin-bottom: 20px;
    border-left: 5px solid rgb(255, 144, 14);
    padding: 20px;
}

.features {
    gap: 140px;
}

.feature-card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-card p {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}

#experience-badge {
    padding: 45px 42px;
    font-weight: 500;
    font-size: 1.6rem;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year {
    font-weight: 700;
    font-size: 4rem;
}

.featured-architect img {
    width: 100%;
}

/* facts related styles starts */
.facts-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    text-align: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
}

.fact-number {
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.fact-icon {
    margin-top: 40px;
}

/* Sponsors styles */
.sponsors {
    margin-bottom: 140px;
}

.sponsors-content {
    max-width: 540px;
    margin: 50px auto;
}

.sponsors-description {
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 400;
}

.sponsors-imgs {
    margin-top: 50px;
    filter: grayscale(100%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

/* Footer styles */
.footer {
    font-weight: 400;
    font-size: 1.25rem;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 250px;
    border-radius: 8px;
    background: rgb(255, 244, 231);
}

/* responsive media query */
@media screen and (max-width:576px) {

    .nav-bar,
    .nav-links,
    .features,
    .teams {
        flex-direction: column;
    }
    .banner-title {
        font-weight: 670;
        font-size: 3.7rem;
    }

    .nav-item {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .banner-img {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .team-img-container,
    .facts-container,
    .sponsors-imgs {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsors-imgs {
        justify-items: center;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .our-features {
        margin-left: 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 5px;
    }
    .footer{        
        padding: 10px 10px;
    }  
}

/* Medium device  */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-img {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }

    .teams,
     .features {
        flex-direction: column;
    }
    .footer{
        padding: 30px 100px;
    }

    .our-features {
        margin: 30px auto;
        text-align: center;
    }

    .facts-container {
        gap: 50px;
    }

    .sponsors-imgs,
    .facts-container
     {
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 50px;
    }
}
/* Large device */
@media screen and (min-width:1200px) and (max-width:1400px) {
    .featured-architect{
        width: 100%;
    }
    .featured-architect img{
        width: 100%;
        height: 90%;
    }
}